<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.letssolvetogether.omr.main">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.letssolvetogether.omr.Database"
            android:exported="false" />
        <activity
            android:name="com.letssolvetogether.omr.Exam"
            android:exported="false" />
        <activity android:name="com.letssolvetogether.omr.Subject" />
        <activity
            android:name="com.letssolvetogether.omr.AddStudentActivity"
            android:exported="false" />
        <activity android:name="com.letssolvetogether.omr.omrkey.ui.OMRKeyActivity" />
        <activity
            android:name="com.letssolvetogether.omr.camera.ui.CameraActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="fullSensor"
            android:theme="@style/FullscreenTheme"
            tools:ignore="DiscouragedApi" />
        <activity
            android:name="com.letssolvetogether.omr.Class"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.instacart.library.truetime.BootCompletedBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>